# Build files
dist/
build/
out/
.vite/

# Environment variables
.env

# Dependency directories
node_modules/

# Generated GraphQL Files
schema.graphql

# Generated Twemoji Assets
src/renderer/public/images/twemoji/

# Astro Docs - generated
.astro/

# Coverage directory used by tools like istanbul
coverage
*.lcov

# Mac Files
.DS_Store