# Build files
dist/
build/

# Dependency directories
node_modules/

# Astro Docs - generated
.astro/

# Coverage directory used by tools like istanbul
coverage
*.lcov

# Mac Files
.DS_Store


# Mac Files
.DS_Store
