---
import Layout from '~/layouts/Layout.astro';
---

<Layout title="Page Not Found">
  <div class="container max-w-4xl mx-auto px-12 flex-1">
    <div
      class="w-full h-screens py-16 flex flex-col items-center justify-center"
    >
      <img
        class="w-1/2 md:1/3 lg:w-1/4"
        src="/images/404.png"
        aria-label="404 Not Found"
      >
      <div class="flex flex-col items-center justify-center">
        <p class="text-3xl md:text-4xl lg:text-5xl mt-12">Page Not Found</p>
        <p class="md:text-lg lg:text-xl mt-8">
          Sorry, the page you are looking for could not be found.
        </p>
        <a
          href="/"
          class="bg-atlassify-docs-button-rest hover:bg-atlassify-docs-button-hover px-4 py-2 mt-12 rounded transition duration-150"
          title="Return Home"
        >
          <span>&#8592 Return Home</span>
        </a>
      </div>
    </div>
  </div>
</Layout>
