---
import { Accordion, AccordionItem } from 'accessible-astro-components';

import Layout from '~/layouts/Layout.astro';

const faqs: FAQFrontmatter[] = Object.values(
  import.meta.glob('~/faqs/*.md', { eager: true }),
);

interface FAQFrontmatter {
  frontmatter: {
    title: string;
  };
  compiledContent: () => string;
}
---

<Layout title="Frequently Asked Questions">
  <div class="container max-w-4xl mx-auto px-12 flex-1">
    <div class="text-3xl text-center mt-12 mb-8">
      Frequently Asked Questions
    </div>

    <Accordion>
      {faqs.map((faq) => (
          <AccordionItem title={faq.frontmatter.title} variant="chevron">
            <div class="faq" set:html={faq.compiledContent()} />
          </AccordionItem>
        ))}
    </Accordion>
  </div>
</Layout>
