---
import { FaqAccordion } from "~/components/solid/FaqAccordion";
import Layout from "~/layouts/Layout.astro";
---

<Layout title="Frequently Asked Questions">
  <div class="container max-w-4xl mx-auto px-12 flex-1">
    <div class="text-3xl text-center mt-12 mb-8">
      Frequently Asked Questions
    </div>

    <FaqAccordion client:load />
  </div>
</Layout>
