---
import GithubIcon from '../icons/Github.astro';

const { currentPathname } = Astro.props;
const isHomepage = currentPathname === '/';
---

<div
  class={`bg-gray-800 text-white text-sm py-10 px-3 ${
    isHomepage ? 'mt-0' : 'mt-12'
  }`}
>
  <div class="container mx-auto flex flex-col items-center text-center">
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://github.com/setchy/atlasify/"
      aria-label="GitHub Repository"
      class="mt-1 mb-4 mx-2 p-1 text-white hover:text-gray-400"
    >
      <GithubIcon className="w-6" />
    </a>

    <div class="my-3">
      Copyright © <a href="https://setchy.io">setchy</a>
      {new Date().getFullYear()}.
    </div>
  </div>
</div>
