---
import { Image } from 'astro:assets';

import notifications from '../assets/notifications.png';
import LatestRelease from './LatestRelease.astro';
import GitHubRepo from './GitHubRepo.astro';
---

<div class="bg-gray-100">
  <div
    class="container flex flex-col md:flex-row lg:items-center max-w-5xl mx-auto px-12 py-8 lg:py-16"
  >
    <div class="flex flex-col justify-center flex-grow">
      
      <Image
        width="50"
        height="50"
        class="w-8 sm:w-12"
        src={import('../assets/logos/atlassify-blue.svg')}
        alt="Altassify Logo"
      />

      <h1 class="text-2xl lg:text-4xl font-semibold">Atlassify</h1>

      <h2 class="mt-2 text-xl lg:text-2xl font-light">
        Your Atlassian notifications <br /> on your menu bar.
      </h2>

      <LatestRelease />
    </div>

    <div class="">
      <Image
        class="block w-full max-w-sm mx-auto h-auto shadow-2xl rounded-xl transform rotate-6 mt-16 mb-8 md:ml-16 md:my-16"
        src={notifications}
        alt="Atlassify - Notifications"
        width="500"
        height="400"
      />
    </div>
  </div>
</div>
