---
import { Image } from 'astro:assets';

import { siteMetadata } from '~/constants';

import notifications from '~/assets/notifications.png';
import LatestRelease from '~/components/LatestRelease.astro';
import logo from '~/icons/atlassify-blue.svg';
---

<div class="bg-atlassify-docs-hero">
  <div
    class="container flex flex-col md:flex-row lg:items-center max-w-5xl mx-auto px-12 py-8 lg:py-16"
  >
    <div class="flex flex-col justify-center grow">
      <!-- FIXME: For some reason using <Icon /> didn't render correct colors in Google Chrome -->
      <Image
        width="48"
        height="48"
        src={logo}
        alt="Atlassify - Notifications"
      />

      <h1 class="text-2xl lg:text-4xl font-semibold">{siteMetadata.title}</h1>

      <h2 class="mt-2 text-xl lg:text-2xl font-light">
        {siteMetadata.description}.
      </h2>

      <LatestRelease />
    </div>

    <div class="motion-preset-pop motion-rotate-in-[-30deg]">
      <Image
        class="block w-full max-w-sm mx-auto h-auto shadow-2xl rounded-xl transform rotate-6 mt-16 mb-8 md:ml-16 md:my-16"
        src={notifications}
        alt="Atlassify - Notifications"
        width="500"
        height="400"
      />
    </div>
  </div>
</div>
