/** Tailwind CSS */
@import "tailwindcss";

/** Tailwind CSS Configuration */
@config "../../tailwind.config.ts";

a:not(.atlassify-navbar) {
  @apply font-semibold;
}

a:not(.atlassify-repo) {
  @apply hover:underline;
}

.faq ul {
  @apply list-disc ml-4;
}

.faq ul > li {
  @apply m-2;
}

.accordion__title {
  h3 {
    @apply text-base font-medium;
  }
}

.accordion__content {
  @apply text-base;
}
