/** Tailwind CSS */
@import "tailwindcss";

/** Tailwind CSS Configuration */
@config "../../tailwind.config.mts";

html,
body,
#root {
  height: 100%;
  -webkit-user-select: none;
  user-select: none;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background-color: var(--atlassify-scrollbar-track);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--atlassify-scrollbar-thumb);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--atlassify-scrollbar-thumb-hover);
}

body {
  margin: 0;
  cursor: default;
}

/**
 * Set emoji size according to surrounding text.
 * Ref: https://github.com/jdecked/twemoji?tab=readme-ov-file#inline-styles
 */
img.emoji {
  height: 1.5em;
  width: 1.5em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
}
