name: Docs

on:
  push:
    branches:
      - main
    paths:
      - "docs/**"
  pull_request:
    paths:
      - "docs/**"

permissions:
  contents: read

jobs:
  lint:
    name: Lint Docs
    uses: ./.github/workflows/lint.yml
    with:
      directory: "docs"
