name: Publish

on:
  workflow_call:
  workflow_dispatch: # For manually running release process to verify code-signing of artifacts

permissions:
  contents: write

jobs:
  release:
    name: Publish ${{ matrix.platform }} (electron-forge)
    strategy:
      matrix:
        include:
          - os: macos-latest
            platform: macOS
            artifact-name: Atlassify-release-mac
          - os: windows-latest
            platform: Windows
            artifact-name: Atlassify-release-win
          - os: ubuntu-latest
            platform: Linux
            artifact-name: Atlassify-release-linux
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Node.js
        uses: ./.github/actions/setup-node

      - name: Publish for ${{ matrix.platform }}
        run: pnpm electron-publish
        env:
          APTABASE_KEY: ${{ secrets.APTABASE_KEY }}
          # macOS notarization
          APPLE_ID: ${{ secrets.APPLE_ID_USERNAME  }}
          APPLE_PASSWORD: ${{ secrets.APPLE_ID_PASSWORD  }}
          APPLE_TEAM_ID: ${{ secrets.APPLE_ID_TEAM_ID  }}
          # General
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ${{ matrix.artifact-name }}
          path: out/make/**/*
          overwrite: true
